<div class="row">
  <h1 class="section-title">All Families</h1>
  <%= paginate @families %>
  <div class="row row-cols-2 row-cols-xl-4 g-2">
    <% @families.each do |family| %>
      <div class="col">
        <%= link_to family_path(family), class:"text-decoration-none" do %>
          <div class="card plant-card">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Family</h6>
              <p class="card-text"><%= family.name %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>