<header class="navbar sticky-top flex-md-nowrap p-0">
    <div class="col-12 col-md-3 col-lg-2 py-3 py-md-0 d-inline-flex">
        <button
            class="navbar-toggler d-md-none collapsed ms-1"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu"
            aria-controls="sidebarMenu"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
                <i class='bx bx-menu'></i>
        </button>
        <%= link_to root_path, class:'navbar-brand mx-2 mx-md-4 d-md-none' do %> <%= image_tag 'Logo-name.svg' %><span id='beta-label'>BETA</span><% end %>
    </div>
    <% unless current_page?(root_path) %>
        <%= form_tag search_path, method: :get, class: "w-100" do %>
                <%= text_field_tag :q, params[:q], class:"form-control form-control-dark w-100", placeholder:"Search | Maghanap" %>
        <% end %>
    <% end %>
    
</header>