<header class="navbar sticky-top flex-md-nowrap p-0">
    <% if false %>
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Company name</a>
        <button
            class="navbar-toggler position-absolute d-md-none collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu"
            aria-controls="sidebarMenu"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
    <% end %>


    <div class="col-12 col-md-3 col-lg-2 py-3 py-md-0 d-inline-flex">
        <button
            class="navbar-toggler d-md-none collapsed ms-1"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu"
            aria-controls="sidebarMenu"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
                <i class='bx bx-menu'></i>
        </button>
        <%= link_to root_path, class:'navbar-brand mx-2 mx-md-4 d-md-none' do %> <%= image_tag 'Logo-name.svg' %><span id='beta-label'>BETA</span><% end %>
    </div>
    <% unless current_page?(root_path) %>
        <%= search_form_for(@q, url: search_path, method: :get, html: {class: "w-100"}) do |f| %>
                <%= f.search_field :specific_epithet_or_grex_or_infraspecies_name_or_cultivar_group_or_cultivar_or_common_names_name_or_synonyms_genus_or_synonyms_specific_epithet_or_synonyms_grex_or_synonyms_infraspecies_name_or_synonyms_cultivar_group_or_synonyms_cultivar_or_genus_name_cont_any, class:"form-control form-control-dark w-100", placeholder:"Search | Maghanap" %>
        <% end %>
    <% end %>
    
</header>