
<h1 class="home-hero-text">Binhi: an <span class="home-emphasis">online database</span> of native plants in the Philippines</h1>
<p class="home-hero-lead ">Isang online na talaan ng mga katutubong halaman sa Pilipinas</p>

<%= form_tag root_path, remote: true, method: :get do %>
    <div class="home-search-container">
        <%= text_field_tag :plant, params[:name], placeholder: "Search | Maghanap (hindi pa gumagana)", autofocus: true, class: "form-control search-box rounded" %>
        <%= button_tag type: :submit, class: "btn btn-success" do %>
            <i class="bx bx-search"></i>
        <% end %>
    </div>
<% end %>

<div class="input-group my-3">
  <input type="text" class="form-control" placeholder="Search | Maghanap" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-light" type="button"><i class="bx bx-search"></i></button>
  </div>
</div>