
<h1 class="home-hero-text">Binhi: an <span class="home-emphasis">online database</span> of native plants in the Philippines</h1>
<p class="home-hero-lead ">Isang online na talaan ng mga katutubong halaman sa Pilipinas</p>


<%= search_form_for(@q, url: search_path, method: :get) do |f| %>
  <div class="input-group my-3">
    <%= f.search_field :specific_epithet_or_grex_or_infraspecies_name_or_cultivar_group_or_cultivar_or_common_names_name_or_synonyms_genus_or_synonyms_specific_epithet_or_synonyms_grex_or_synonyms_infraspecies_name_or_synonyms_cultivar_group_or_synonyms_cultivar_or_genus_name_cont_any, class:"form-control form-control-lg", placeholder:"Search | Maghanap"  %>
    <%= button_tag class:"btn btn-outline-light input-group-text px-5" do%><i class="bx bx-search"></i><%end%>
  </div>
<% end %>



