
<h1 class="home-hero-text">Binhi: an <span class="home-emphasis">online database</span> of native plants in the Philippines</h1>
<p class="home-hero-lead ">Isang online na talaan ng mga katutubong halaman sa Pilipinas</p>


<%= form_tag search_path, method: :get do %>
  <div class="input-group my-3">
    <%= text_field_tag :q, params[:q], class:"form-control form-control-lg", placeholder:"Search | Maghanap"  %>
    <%= button_tag class:"btn btn-outline-light input-group-text px-5" do%><i class="bx bx-search"></i><%end%>
  </div>
<% end %>



<div class="card p-4 source-card">
  <span class="text-light">
    Family and genus data: <br>
    <span class="fw-light">WFO (2021): World Flora Online. Version 2021.Dec. Published on the Internet; http://www.worldfloraonline.org. Accessed on: Jan 15, 2022</span>
  </span>
</div>

